@charset "UTF-8";

.sub_head {
  position: absolute;
  padding: 0 0;
  width: 100%;
  margin: 0 0;
  height: 220px;
  background: #E8E7E4;
}

.total_card {
  max-height: 270px;
  height: 270px;
  background: #7F8185;
}

.total_products {
  background: #7F8185;
}

.steps_purchase {
  background: #E8E7E4;
  margin: 0 0;
  padding: 0;
}

*:focus:not(.focus-visible) {
  outline: none;
}

.separator_total {
  height: 1px;
  width: 100%;
  background: white;
  margin: 0;
}

.item_form {
  height: 80px;
}

.invoice {
  background: #7F8185;
}

¿ .check_special {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom_table table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

.custom_table th,
.custom_table td {
  text-align: left;
  border: none;
  text-align: center;
  height: 30px;
  word-break: break-all;
}

.fake_table {
  word-break: break-all;
}

.fake_table:nth-child(even) {
  background-color: #9B9DA3;
}

.iframe_video {
  width: 100%;
  height: 400px;
}

#modal_video,
#modal_condiciones,
#modal_products {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.open_video_modal {
  cursor: pointer;
}

.condition_card {
  background: #646567;
}

.title_condition {
  background-color: #E95A0C;
}

.show_terms_cond {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 768px) {
  .d_none_special {
    display: none;
  }

  .bt_hide_content {
    height: auto;
  }

  .sub_head {
    height: 300px;
  }

  .iframe_video {
    width: 100%;
    height: 250px;
  }
}

